@model Ladulceria.LojaVirtual.Dominio.Entidades.Produto

<div class="panel panel-default ">

    <div class="panel-heading"><h3>@Model.ProdutoDescricao</h3></div>
    <ul class="list-group">
        <li class="list-group-item">@Model.ProdutoDescricaoResumida</li>
        <li class="list-group-item"><h3><span class="label label-primary">@Model.Preco.ToString("c")</span></h3></li>
    </ul>
</div>

<div>
</div>